#home {
  position: relative;
  background: #232526;
  background-image: linear-gradient(
      to right, 
      rgba(#09203f, 0.8), 
      rgba(#537895, 0.90)),
      url("../../assets/hero_bg.jpg");
  background-size: cover;
  background-position: bottom;
  position: relative;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 90vh, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 90vh, 0 100%);

  .app__wrapper {
    padding: 0;

    .copyright {
      display: none;
    }
  } 
}

.app__header {
  flex: 1;
  width: 100%;
  height: 100%;
  flex-direction: row;

  padding: 6rem 2rem 0;

  @media screen and (min-width: 2000px) {
    padding-top: 8rem;
  }

  @media screen and (max-width: 1200px) {
    flex-direction: column;
  }

  @media screen and (max-width: 400px) {
    padding: 6rem 1rem 2rem;
  }
  &-info {
    flex: 0.65;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
  
    @media screen and (max-width: 2000px) {
      width: 100%;
      margin-right: 0rem;
    }

    p {
      font-size: 1.125rem;
      color: var(--white-color);
    }

    h1 {
      text-align: left;
      margin: 1.25rem 0;
      color: var(--primary-color);
    }

    .app__header-desc {
      font-size: 1.25rem;
      color: var(--white-color);
      max-width: 700px;
    }

    .app__header-button-container {
      margin-top: 1.5rem;

      button {
        padding: 0.5rem 1rem;
        border-width: 2px;
        font-weight: 500;
        outline: none;
        margin: 2rem 0 0 0;
        font-family: var(--font-base);
        text-transform: uppercase;
        cursor: pointer;
        transition: all .3s ease-in-out;
        border: 4px solid var(--secondary-color);

        &:hover {
          transform: scale(1.02);
        }

        @media screen and (min-width: 600) {
          padding: 1rem 2rem;
          border-width: 4px;
        }
      }

      .button--primary {
        background-color: var(--secondary-color);
        margin-right: 1.5rem;
        color: var(--white-color);
        border-color: var(--secondary-color);
      }

      .button--secondary {
        background-color: transparent;
        border-color: var(--white-color);
        color: var(--white-color);
      }
    }
  }
}
